---
import Logo from '../Logo.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { theme = 'light' } = Astro.props;
import { contactData } from '~/CONTACT';
const {ICO, address, email} = contactData;
---

<footer
  class:list={[{ dark: theme === 'dark' }, 'my-5 relative border-t border-gray-200 dark:border-slate-800 not-prose']}
>
  <Logo className="my-5" />
  <p class="w-full text-center">
    ICO: {ICO} <br>
    <a href="/informace-o-zpracovani-osobnich-udaju" class="text-sm dark:text-muted text-center underline">Informace o zpracování osobních údajů</a> | <a href="/terms" class="text-sm dark:text-muted text-center underline">Podmínky používání této webové aplikace</a>  
  </p>
  <p class="w-full text-center">
    {address} | {email}
  </p>

  <div class="w-full text-center mx-auto flex flex-col md:flex-row justify-between items-center gap-2 mt-5">
   
    <p class="text-sm mr-4 dark:text-muted w-full">
     {new Date().getFullYear()} Made by <a class="text-amber-950 font-bold underline dark:text-mute" href="https://swcookies.com/">
        Software Cookies Team
      </a>
      · Všechna práva vyhrazena.
    </p>
  </div>
  <img
  class="w-16 md:w-16 mx-auto mt-5"
  src="https://swcookies.com/_astro/swc_logo_50.8NAVAE2m_5xFeo.webp"
  alt="Swcookies logo logo"
  loading="lazy"
/>
</footer>
