---
import Layout from '~/layouts/Layout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Error 404`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center p-16 h-full">
    <div class="flex flex-col justify-center items-center mx-auto my-8 px-5 container">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="font-semibold text-3xl md:text-3xl">Omluváme se, tato stranka neexistuje.</p>
        <p class="mt-4 mb-8 text-muted dark:text-slate-400 text-lg">
          Ale nebojte se, na naší domovské stránce najdete mnoho dalších věcí.
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="ml-4 btn">Zpět na hlavní stránku</a>
      </div>
    </div>
  </section>
</Layout>
