---
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import Smrtak from "~/assets/images/smrtak.png"
---

<Layout >
  <!-- Hero Widget ******************* -->
  <section class="w-full py-10 px-5 text-center">
    <div class="max-w-2xl mx-auto reaper-container">
      <h1 class="text-3xl md:text-7xl font-bold text-gray-900 dark:text-white font-[Great] my-5 text-gradient py-5">
        Buky.cc
      </h1>
      <h2 class="text-center text-xl md:text-3xl font-bold text-gray-500 dark:text-white font-[Pacifico]">
        Čištění a renovace odpadu bez nutnosti sekání do zdi kde jiní končí mi začínáme
      </h2>
      <Image src={Smrtak} alt="Smrták" class="max-w-[100%] w-[500px] mx-auto my-10 reaper" />
      <p><em>Web pro vás připravujeme...</em></p>
    </div>
  </section>
</Layout>
