---
import { SITE } from 'astrowind:config';
import LogoImage from '~/assets/images/buky_smrtak_logo_2.png';
import { Image } from 'astro:assets';
const { className } = Astro.props;
---

<div
  class={`self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-sm font-bold text-gray-900 whitespace-nowrap dark:text-white flex flex-row items-center gap-0 font-[Great] align-middle justify-center ${className}`}
>
  <Image
    src={LogoImage}
    alt={SITE.name}
    class="self-center w-14 md:w-14 max-w-[60px] md:max-w-[100px] h-14 md:h-14"
  /><span class="self-center ml-2 text-black text-4xl align-middle">{SITE?.name}</span>
</div>
